#!/usr/bin/env python

PACKAGE='sick_safetyscanners'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("polygon_size", int_t, 0, "Number of points for Visvilingham-Whyatt simplification", 100, 3, 1500)

exit(gen.generate(PACKAGE, "sick_viz_dynamic_reconfigure", "SickViz"))
