#!/usr/bin/env python

PACKAGE='sick_safetyscanners'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("epsilon", double_t, 0, "Epsilon for Douglas-Peucker simplification", 0.8, 0.0, 2.0)

exit(gen.generate(PACKAGE, "sick_viz_dynamic_reconfigure", "SickViz"))
